body img{
  margin-top: 5px;
}
.first-pic {
  width: 100%;
  padding-left: auto;
  padding-right: auto;
}
.westin {
  width: 100%;
}
.four {
  width: 100%;
}
.georgia {
  width: 100%;
}
h1 {
  text-align: center;
}
.picrow {
  width: 100%;
}
.pckg:hover {
  background-color: #a1d4e4;
}