.first-pic {
  width: 90%;
  padding-left: auto;
  padding-right: auto;
}
.westin {
  width: 100%;
}
.four {
  width: 100%;
}
.georgia {
  width: 100%;
}
h1 {
  text-align: center;
}
.picrow {
  width: 100%;
}